@charset "utf-8";
/* CSS Document */

div#watchHeader {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

input#clear_button {
	margin-top:30px;
	margin-left:10px;
}

#watchList {
   width: 100%;
   background-color:#069;
}

div.port {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction:reverse;
	width: 100%;
	height:100px;
	background-color:#0C6;
	margin-bottom:2px;
}

input.remove_button{
	width:95px;
	height:95px;
	font-size:72px;
	font-weight:bolder;
}